.kanban-board {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: #e8ecf6;
    width: 100vw;
    top: 60px;
  }
  
  .kanban-column {
    min-width: 360px;
  }
  
  .Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .HeaderStatus {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .HeaderStatus img {
    height: 15px;
    width: auto;
  }
  
  .HeaderStatus h5 {
    font-size: 15px;
    margin: 0;
    font-weight: bold;
    width: 100%;
  }
  
  .HeaderButton {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .HeaderButton img {
    height: 15px;
    width: auto;
    cursor: pointer;
  }
  
  .Column-Heading {
    padding-left: 25px;
    display: flex;
  }
  
  
  .display-options .active {
    font-weight: bold;
  }
  
  .default-icon {
    width: 30px;
    height: 20px;
    background-color: #ddd;
    border-radius: 50%;
  }


.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
  margin: 0 auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}
