.kanban-board {
  position:relative;
  display: flex;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  /* background-color: gray; */
  background-color: #F4F6FA;
  width: 100vw;
}

.kanban-column {
  min-width: 360px;
 
  /* border: 1px solid #ccc; */
  /* padding: 1rem; */
}
.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  /* border-bottom: 1px solid #ddd; */
}

.HeaderStatus {
  display: flex;
  align-items: center;
  gap: 8px; /* Space between image and text */
}

.HeaderStatus img {
  height: 15px; /* Adjust size of status/priority icon */
  width: auto;
}

.HeaderStatus h5 {
  font-size: 15px; /* Adjust text size */
  margin: 0;
  font-weight: bold;
  width: 100%;
}

.HeaderButton {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between Add and Menu buttons */
}

.HeaderButton img {
  height: 15px; /* Adjust icon size */
  width: auto;
  cursor: pointer;
}

.Column-Heading{
  padding-left: 25px;
  display: flex;
}
/* .kanban-column h3{
  padding-left: 15px;
} */
.ticket-card {
  /* background-color: #f9f9f9; */
  /* padding: 1rem; */
  /* margin-bottom: 1rem; */
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}


.display-options .active {
  font-weight: bold;
}


.default-icon {
  width: 30px;
  height: 20px;
  background-color: #ddd;
  border-radius: 50%;
}
